.App {
  border: 1px solid red;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


button {
  font-size: calc(10px + 2vmin);
}
